* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* color-switcher*/
.color-theme-buttons{
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: -1;
}

.color-theme-buttons button{
  appearance: none;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px 40px;
  border-radius: 20px;
}

.color-theme-buttons [data-start]{
  border: 2px solid black;
  background-color: white;
}

.color-theme-buttons [data-stop]{
  border: 2px solid black;
  background-color: black;
  color: white;
}

.color-theme-buttons button:disabled{
  opacity: 0.5;
}

/* timer styles */
.timer {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 100px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 70px;
  font-family: 'Space Mono', monospace;
  color: cornflowerblue;
}

.label{
  opacity: 0.5;
}
